* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Monoton', cursive;

    font-family: 'Share Tech Mono', monospace;
}
body {
    background-color: #161616;
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: #161616;
}

body::-webkit-scrollbar-thumb {
    border-radius: 100%;
    background: pink;
}
.container_contenido {
    display: flex;
    overflow: hidden;
}

.contenido_info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    padding: 20px;
    text-align: justify;
}
iframe {
    padding: 10px 20px;
    /* padding-left: 20px; */
    border: 0;
    width: 800px;
    height: 600px;
}

li {
    color: whitesmoke;
}

.lista_info {
    margin-top: 20px;
    padding:10px 10px 10px 0px;
    letter-spacing: 2px;
    line-height: 22px;
}